.create1 {
    display: flex;
    height: 100%;
}
.create2 {
    display: block;
    height: 100%;
}
.create2-1{
    /*display: none;*/
    position: relative;
    width: 700px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.create2-1 .create-title{
    border-bottom: 1px solid grey;
    text-align: center;
    padding-bottom: 10px;
}
.create2-1 .create-title input{
    width: 600px;
    text-align: center;
    font-size: 2rem;
}
.create1-1 button {
    transform: scale(2);
}
.create-controller{
    display: flex;
}
.create1-1{
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
/**/
.checkbox label {
    margin-right: 10px;
}
.checkboxInput {
    width: auto;
}
.create-add{
    display: flex;
    width: 100%;
}
.create-add>* {
    flex: 1;
}
.calendar {
    width: 300px;
    position: absolute;
    border: 1px solid #d9d9d9;
}
.create-foot {
    display: flex;
    margin: 20px 0 0 0;
    justify-content: space-around;
}
.que>* {
    margin-bottom: 5px;
}
.controller {
    display: flex;
    width: 100%;
}
.controller>* {
    flex: 1;
}