#list {
    position: absolute;
    left: 201px;
    width: 200px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    border-right: 1px solid grey;
}
#list1 ul {
    padding: 14px;
    border-bottom: 1px solid grey;
} 
#list1 li {
    display: inline;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0);
    font-size: 14px;
    padding: 0 3px;
}
#list1 li:hover {
    background-color: white;
    border: 1px solid;
}
#list2 {
    height: 100%;
    background-color: white;
    font-size: 15px;
}
.ul3 {
    cursor: pointer;
    background-color: white;
}
.ul3 span {
    display: block;
    text-align: center;
    background-color: rgb(247, 240, 204);
    height: 20px;
    padding: 3px 0;
    font-size: 16px;
}
.ul3 li {
    text-indent: 15px;
    height: 26px;
}
.ul3 li:hover {
    background-color: rgba(128, 128, 128, 0.2);
}
.ul3 p {
    display: block;
    height: 20px;
    padding: 3px 0;
}
.ul3 input {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 174px;
    opacity: 0;
    z-index: 10;
}
.ul3 li:hover input {
    opacity: 1;
}
.hover2 {
    background-color: rgba(128, 128, 128, 0.2);
}
.hover3 {
    background-color: white;
    border: 1px solid black !important;
}
.donetrue {
    color: green;
    font-weight: bold;
}
.foot {
    border-top: 1px solid grey;
    height: 30px;
    width: 185px;
    padding: 10px 0 5px 15px;
    position: fixed;
    cursor: pointer;
}
.foot2 {
    left: 201px;
    background-color: rgba(128, 128, 128, 0.5);
}
