.content {
    height: 100%;
    margin-left: 402px;
}
.content1 {
    height: 51px;
    background-color: rgba(128, 128, 128, 0.5);
    min-width: 300px;
}
.content1>span {
    display: block;
    padding: 13px;
    float: left;
}
.content1>input {
    float: right;
    padding: 15px;
}
.content>p {
    padding: 15px;
    background-color: rgb(247, 240, 204);
}
#taskContent2,#taskContent {
    padding: 15px;
}
.content input[type="text"] {
    background: none;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
}