form p{
    font-size: 24px;
    font-weight: bold;
}
form li label,input{
    font-size: 15px;
}
abbr{
    font-size: 50px;
    font-weight: bold;
}
#div2-1P1{
    font-size: 25px;
}
#div2 #Kira{
    font-size: 24px;
}
#P{
    font-size: 30px;
}