.list {
    margin: 20px auto;
    width: 700px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-spacing: 0;
    padding: 20px 0 10px 0;

}