* {
    margin: 0;
    padding: 0;
}
#div1 {
    height: 360px;
    width: 640px;
}
img {
    position: absolute;
    
}
@keyframes mymove {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes mymove2 {
    from {opacity: 0;}
    to {opacity: 1;}
}