.fill-1{
    position: relative;
    width: 700px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.fill-title{
    border-bottom: 1px solid grey;
    text-align: center;
    padding-bottom: 10px;
    font-size: 2rem;
}
.queFill{
    margin: 10px 0;
}
.queFill li{
    border-bottom: 1px solid grey;
    padding: 5px 0;
}
.queFill li>*{
    margin-bottom: 5px;
}
.queFill li>p:first-of-type{
    font-size: 1.2rem;
}
.queFill li textarea{
    resize: none;
    width: 500px;
}
.queFill div {
    font-size: 0.8rem;
}
.queFill span{
    display: block;
    font-size: 0.8rem;
}
.fill-foot{
    margin-top: 10px;
    text-align: center;
}
.fill-foot input[type=button]{
    border: 1px solid black;
    transition: all .5s;
    background-color: white;
    padding: 10px 300px;
    outline: none;
}
.fill-foot input[type=button]:hover{
    background-color: rgba(255, 0, 0, 0.5);
}
