.header{
    background-color: orange;  
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.header span{
    display: block;
    font-size: 1.7rem;
    padding: 12px 0 12px 30px;
}
.header ul{
    position: absolute;
    right: 20px;
    top: 20px;
}
.header li{
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;
}
.header li:hover{
    border-bottom: 2px white solid;
}
